/* src/components/LoginForm.css */
.login-form-container {
    color:#fff;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #00553e;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-image:
    "linear-gradient(to right,#043324,#104131, #05402d)",
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form input,
.login-form button {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.login-form button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #0056b3;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.link {
    color: white;
    text-decoration: none;
    border-radius: 10px;
    border-color: white;

}